@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-btn {
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 300% 300%;
  animation: gradient-animation 10s infinite;
  color: #fff; /* Ensure text is visible */
  border: none; /* Optional: remove border for a clean look */
  cursor: pointer; /* Add a pointer cursor */
  
}
